* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-image: url(./background1.jpg.png);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
a {
  color: black;
  text-decoration: none;
}
#container {
  margin: 15vh auto;
  padding: 2vw;
  width: 34vw;
  height: 65vh;
  border: 2px double aquamarine;
  background-color: aquamarine;
  border-radius: 10px;
}
.title {
  font-size: 50px;
  margin: 20px;
  text-align: center;
  margin-bottom: 40px;
}
#email-input,
#password-input {
  width: 30vw;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}
input::placeholder {
  font-size: 20px;
}
button {
  width: 100px;
  height: 40px;
  margin-top: 20px;
  float: right;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: white;
  cursor: pointer;
}
img {
  position: absolute;
  height: 25px;
  top: 320px;
  right: 450px;
  cursor: pointer;
}
p {
  margin-top: 20px;
}
span:hover {
  border-bottom: 1px solid black;
}
