* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation: fade-in 0.5s;
}
@keyframes fade-in {
  from {opacity: 0; transform: rotateX(-10deg);}
  to {opacity: 1; transform: rotateX(0);}
}
body {
  background-image: url(./background1.jpg.png);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: white;
}
#verify {
  margin-top: 20vh;
  color: white;
  text-align: center;
  display: none;
}
/* Header */
#header {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  height: 100px;
  margin: 0 5%;
}
#header h1 {
  color: white;
}
.header-left,
.header-center,
.header-right {
  width: 30%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.header-left img {
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
}
.header-center,
.header-right {
  display: flex;
  align-items: center;
}
.home, .shop, .contact {
  margin: 0 auto;
  transition: 0.1s;
}
.home:hover h1, .shop:hover h1, .contact:hover h1 {
  border-bottom: 2px solid white;
  transition: 0.1s;
}
.shop {
  height: 100px;
  display: flex;
  align-items: center;
}
.header-right input {
  height: 40px;
  margin-left: 120px;
  margin-right: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
}
.header-right img {
  height: 32px;
  cursor: pointer;
}
.header-right div {
  margin-right: 20px;
}
.cart {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100px;
  width: 50px;
}
/* Total quantity */
#total-quantity {
  height: 15px;
  width: 15px;
  position: absolute;
  margin-bottom: 30px;
  margin-right: -5px;
  z-index: 99;
  color: white;
  font-size: 10px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#account {
  position: absolute;
  right: 0;
  top: 80px;
  border: 1px solid white;
  background-color: black;
  display: none;
}
#account h2 {
  font-size: 10px;
  text-align: center;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  width: fit-content;
}
#account h2:hover {
  border-bottom: 1px solid white;
}
.shop:hover .shop-dropdown {
  display: flex;
  transition: 0.5s;
}
.shop-dropdown {
  position: absolute;
  top: 100px;
  gap: 50px;
  left: 0;
  right: 0;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-content: center;
  display: none;
  flex-direction: row;
  width: 60vw;
  background-color: wheat;
  transition: 0.5s;
  z-index: 99;
}
.shop-dropdown h2{
  position: absolute;
}
.shop-dropdown ul li{
  list-style: none;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.corner-1 {
  top: -20px;
  left: -10px;
}
.corner-2 {
  top: -20px;
  right: -10px;
}
.corner-3 {
  top: 90px;
  left: -10px;
}
.corner-4 {
  top: 90px;
  right: -10px;
}
#search-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}
#search-list {
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  margin-top: 40px;
  margin-left: 100px;
  width: 200px;
  z-index: 99;
  display: none;
}
#search-list h2 {
  margin: 10px 0;
  color: black;
  font-size: 18px;
  display: none;
}
/* Content */
.big-title {
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 40px auto 60px auto;
}
#all-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#container-categories {
  position: sticky;
  float: left ;
  top: 10px;
  width: 200px;
  display: inline-flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 0;
}
#container-categories h1 {
  font-size: 40px;
  color: white;
  margin: 0 0 20px 10px;
}
#container-categories div {
  margin-bottom: 20px;
}
#container-categories span {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
}
#container-categories span:hover {
  border-bottom: 2px solid white;
}
#container-product {
  position: absolute;
  right: 0;
  width: 70vw;
  margin-right: 5%;
}
ul li {
  list-style: none;
}
.product {
  width: 22vw;
  height: 70vh;
  border: 5px double white;
}
.product h2 {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}
.product-img-cover {
  overflow: hidden;
  height: 50vh;
}
.product-img-cover button {
  border: 5px double black;
  position: absolute;
  margin-top: 30px;
  margin-left: 16vw;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.product-img {
  width: 22vw;
  height: 50vh;
}
.product-img:hover {
  transform: scale(1.2);
  transition: 0.5s;
  cursor: pointer;
}
.product-name {
  cursor: pointer;
}
/* Footer */
#footer {
  margin-top: 250vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
#footer h1 {
  color: white;
}
.buy-now-btn-3 {
  font-size: 16px;
  padding: 30px;
  border-radius: 5px;
  border: none;
  animation-name: change-color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
@keyframes change-color {
  0% {
    background-color: orangered;
  }
  50% {
    background-color: purple;
    color: white;
  }
  100% {
    background-color: orangered;
  }
}
