header {
  margin-top: 20px;
}
h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  line-height: 20px;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 10px;
}
h3 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  margin-bottom: 50px;
}
.lefttitle {
  color: rgb(46, 155, 119);
}
form {
  box-sizing: border-box;
  width: 450px;
  height: 500px;
  margin: 100px auto 0;
  padding-bottom: 40px;
  border: solid 4px;
  border-color: black;
  border-radius: 5%;
  background-color: aquamarine;
  position: relative;
}
#email,
#pwd {
  background-color: rgb(58, 196, 150);
  box-sizing: border-box;
  border-style: none;
  border-radius: 5px;
  width: 422px;
  height: 40px;
  font-size: 20px;
  font-family: Arial;
  margin: 10px;
}
::placeholder {
  color: rgb(218, 218, 218);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
}
.checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 285px;
  left: 6px;
}
.forget {
  position: absolute;
  top: 278px;
  right: 10px;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.rmb {
  margin-left: 34px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  margin-top: 12px;
}
img {
  position: absolute;
  top: 236px;
  right: 25px;
  opacity: 0.5;
}
#submit {
  margin: 30px 10px 0px 10px;
  padding: 20px 0px;
  width: 422px;
  font-size: 25px;
  border-radius: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.signin {
  margin: 0px;
  font-size: 30px;
}
.question {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
